body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 0;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px black;
    padding: 16px;
}

.my-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  }

  .my-second-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  }

.title {
    font-size: 25px;
    color: white;
    background-color: orangered;
    padding: 10px;
    text-decoration: none;

}

.title {
    font-size: 25px;
    color: white;
    background-color: orangered;
    padding: 10px;
    text-decoration: none;

}

.footer {
    background-color: limegreen;
    padding: 20px;
}

.body {
    background-color: lightsalmon;
}

.division {
    box-shadow: 5px 5px 5px 5px red;
}
